h2 {
    color:darkviolet;
        font-family: "Caveat Brush", cursive;
        font-weight: 400;
        font-style: normal;
        text-align:center;
 }

 h1{
  color:royalblue;
  font-size: 70px;
  font-family:"Caveat Brush", cursive;
  text-shadow: -2px -2px 0 #ffd7ae, 2px -2px 0 #ffd7ae, -2px 2px 0 #ffd7ae, 2px 2px 0 #ffd7ae;
}

 #headerimage{
  margin:40px 0px 0px 0px;
  border: 7px solid #ffd7ae;
 }
      
ul{
    padding:10px;

}
li{
    display:inline;
    padding:0px 10px 0px 10px;
}

.headerLine{
  padding: 10px;
  background: rgba(0,0,0,0.5);
}

.whiteLink{
  color:white;
}
  

header {
    text-align: center;
    background: url('images/background.jpg');
    background-size: cover;
    padding:20px 0px 0px 0px;
}
  
  article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
  }

  img {
    margin: 40px,0px,0px;
    border-radius: 20px;
  }
